body {
  background-color: #ddf5f9;
  text-align: center;
}

h1{
  color: #FFFFFF;
    margin: 0 auto;
    font-family: "Times New Roman", monospace;
    font-size: 90px;
    margin: 2%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-top: 8px
}

header{
background: #3d6b3b;
  
}
.topnav {
  background-color: #85a330;
  overflow: hidden;
}

.topnav a:hover {
  background-color: #bfffc0;
  color: black;
}

.topnav a.active {
  background-color:#bfffc0;
  color: black;
}
