body {
  text-align: center;
}

h1{
  color: white;
    margin: 0 auto;
    font-size: 90px;
    margin: 2%;
}

header{
background: lightblue;
}
.topnav {
  background-color: pink;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: lightgrey;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: pink;
  color: black;
}

.topnav a.active {
  background-color:lightblue;
  color: black;
}
