body {
	padding: 0px;
	margin: 0px;
	text-align: center;
  font-family: "Verdana", monospace;
}

.status {
	font-family: "Verdana";
	font-size: 16pt;
	padding: 10px 10px;
}

#gameSolver {
	text-decoration: none;
	color: black;
}

#moves {
	width: 400px;
}

.values {
	width: 32px;
}

.settings {
	display: none;
}

.settingButtons {
	display: none;
}

.settings .labels {
	margin: 5px;
}

.header a {
  padding: 2%;
}
