.center {
  text-align: center;
  margin-left: auto;
  padding: 3px;
}

a {
  text-align: center;
  font-family: "Times New Roman", monospace;
  font-size: 30px;
  color: white;
}

h1{
  font-size: 60px;
  text-align: center;
  font-family: "Times New Roman", cursive, sans-serif;
  color: white;
}

h2{
 font-size: 35px;
  margin-left: 125px;
  color:  white; 
}

body {
  background-color: #ddf5f9;
  background-size: cover;
}

p {
  font-size: 50px;
  text-align: center;
  font-family: "Times New Roman", cursive, sans-serif;
  color: white;
}

#message {
  font-size: 50px;
  text-align: center;
  font-family: "Times New Roman", cursive, sans-serif;
}

.topnav {
  background-color: #85a330;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #bfffc0;
  color: black;
}

.topnav a.active {
  background-color:#bfffc0;
  color: black;
}
