a {
  text-align: center;
  font-family: "Roboto", monospace;
  font-size: 30px;
  padding: 125px;
  color: white;
}

h1{
  font-size: 200px;
  text-align: center;
  font-family: "arcade", cursive, sans-serif;
  color: white;
}

body {
  background-image: url(https://motionarray.imgix.net/preview-143179-ClMb14CISB-high_0000.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-size: 50px;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
}

#message {
  font-size: 50px;
  text-align: center;
  font-family: "arcade", cursive, sans-serif;
}

.topnav {
  background-color: #460F55;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #FFD3FF;
  color: black;
}

.topnav a.active {
  background-color:#AF127B;
  color: white;
}
